@media (min-width: 1200px){.desktop-layout[data-v-799df3c9]{display:flex}.mobile-layout[data-v-799df3c9]{display:none}}@media (max-width: 1199px){.desktop-layout[data-v-799df3c9]{display:none}.mobile-layout[data-v-799df3c9]{display:flex}}
